Repository Kamuish/ASTRA: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, black, isort

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - --rcfile=pylintrc

mypy:
  name: mypy
  entry: mypy
  language: python

black:
  name: black
  entry: black --check
  language: python

isort:
  name: isort
  entry: isort --check
  language: python

automate testing on GH
  .github/workflows/testing.yml
Due: none

basic tests
  tests/test_Param_interface.py
  tests/test_flags.py
  tests/test_json_ready.py
Due: mypy, black, isort

update precommit
  .pre-commit-config.yaml
Due: none

adding MAROONX as high-level importable
  src/ASTRA/Instruments/__init__.py
Due: pylint, mypy, black, isort

testing
  tests/test_core.py
Due: mypy, black, isort

updating CI for testing to all prs and pushes to main
  .github/workflows/testing.yml
Due: none

Add uv lock file
  uv.lock
Due: none

allow selection of common wavelengths (or not) for template mask
  src/ASTRA/template_creation/stellar_templates/sum_stellar.py
Due: pylint, mypy, black, isort

fixing typo in docs
  docs/index.md
Due: none

paper updates
  paper/paper.md
Due: none

adding SNT as a source for spectral normalization
  src/ASTRA/Components/Spectral_Normalization.py
  src/ASTRA/DataUnits/SpecNormUnit.py
  src/ASTRA/base_models/Frame.py
  src/ASTRA/spectral_normalization/RASSINE_normalization.py
  src/ASTRA/spectral_normalization/SNT_normalization.py
  src/ASTRA/spectral_normalization/__init__.py
  src/ASTRA/spectral_normalization/normalization_base.py
  src/ASTRA/spectral_normalization/polynomial_normalization.py
  src/ASTRA/utils/choices.py
Due: pylint, mypy, black, isort

ensuring proper propagation of trigger_data_storage_calls
  src/ASTRA/Instruments/ESO_PIPELINE.py
  src/ASTRA/Instruments/ESPRESSO.py
Due: pylint, mypy, black, isort

docs
  docs/advanced/spectra_normalization.ipynb
  src/ASTRA/Components/Spectral_Normalization.py
Due: pylint, mypy, black, isort

(auto) Paper PDF Draft
  paper/paper.pdf
Due: none

comments from Jorge
  paper/paper.md
Due: none

Adding support for CARMENES data
  src/ASTRA/Instruments/CARMENES.py
  src/ASTRA/data_objects/DataClass.py
Due: pylint, mypy, black, isort

paper
  paper/paper.md
Due: none

typo on paper
  paper/paper.md
Due: none

fixing imports
  src/ASTRA/Instruments/CARMENES.py
Due: pylint, mypy, black, isort

new versiojn
  pyproject.toml
Due: none

removing spurious prints
  src/ASTRA/Instruments/ESPRESSO.py
  src/ASTRA/base_models/TemplateFramework.py
Due: pylint, mypy, black, isort

fixing dependencies
  pyproject.toml
Due: none

lock file
  uv.lock
Due: none

removing pyqt6 from depenency
  pyproject.toml
  uv.lock
Due: none

new version
  pyproject.toml
  uv.lock
Due: none

adding a changelog page
  docs/changelog.md
  mkdocs.yml
Due: none

adding a changelog page
  docs/changelog.md
  docs/index.md
  mkdocs.yml
Due: none

adding new diagrams to the doics and info on co-authors
  docs/diagrams/stellar_template_construction.drawio
  docs/diagrams/stellar_template_construction.png
  docs/diagrams/telluric_template_construction.drawio
  docs/diagrams/telluric_template_construction.drawio.png
  docs/template_creation/stellar.ipynb
  docs/template_creation/telluric.ipynb
  paper/paper.md
Due: none

new paper version
  paper/paper.md
Due: none

diagram for template construction
  docs/diagrams/stellar_template_construction.drawio
Due: none

fixing new version for paper submission and release
  docs/index.md
  pyproject.toml
  uv.lock
Due: none

ensure proper init of DRS values for MAROON-X
  pyproject.toml
  src/ASTRA/Instruments/MAROONX.py
  uv.lock
Due: pylint, mypy, black, isort

Adding interface to SPIROU simulated frames
  src/ASTRA/Instruments/SimulatedDataFrame.py
Due: pylint, mypy, black, isort

Path conditions:
  pylint: any of: \.py$, but not: tests*
  mypy: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
